In [1]:
import pandas as pd
import numpy as np
import altair as alt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
hawaii_list = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/22Spring/705IDS/FinalProject/Data/hawaii_listings.csv.gz", compression="gzip")

In [3]:
hawaii_list.price = hawaii_list.price.str.replace("$", "")
hawaii_list.price = hawaii_list.price.str.replace(",", "").astype(float)

<ipython-input-3-03537e5b3618>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hawaii_list.price = hawaii_list.price.str.replace("$", "")

In [4]:
hawaii_list.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [5]:
null_listing = pd.DataFrame(hawaii_list.isna().sum()).reset_index()

In [6]:
null_listing[np.where(null_listing[0] > 0, True, False)].sort_values(by=0, ascending=False)

                          index      0
48             calendar_updated  24294
34                    bathrooms  24294
26                neighbourhood  10995
6         neighborhood_overview  10995
13                   host_about   7178
67                      license   5544
66          review_scores_value   5045
65       review_scores_location   5044
63        review_scores_checkin   5044
64  review_scores_communication   5042
62    review_scores_cleanliness   5041
61       review_scores_accuracy   5041
60         review_scores_rating   4964
59                  last_review   4964
58                 first_review   4964
73            reviews_per_month   4964
14           host_response_time   4006
15           host_response_rate   4006
20           host_neighbourhood   3823
16         host_acceptance_rate   3698
36                     bedrooms   3354
37                         beds    727
5                   description    165
12                host_location    150
10                    host_name    131
11                   host_since    131
25       host_identity_verified    131
17            host_is_superhost    131
24         host_has_profile_pic    131
19             host_picture_url    131
21          host_listings_count    131
22    host_total_listings_count    131
18           host_thumbnail_url    131
35               bathrooms_text     30

In [7]:
hawaii_list["avg_rating"] = hawaii_list[["review_scores_rating","review_scores_location", "review_scores_checkin", "review_scores_cleanliness", "review_scores_communication", "review_scores_value", "review_scores_accuracy"]].mean(axis = 1)

In [8]:
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [9]:
alt.Chart(hawaii_list).mark_bar().encode(
    alt.X("avg_rating:Q", bin=True),
    y='count()',
).properties(
    width=500,
    height=500,
    title='Average Rating Distribution'
)

In [ ]:
hawaii_ratings = hawaii_list[["review_scores_rating", "review_scores_location", "review_scores_checkin", "review_scores_cleanliness", "review_scores_communication", "review_scores_value", "review_scores_accuracy"]]

In [ ]:
hawaii_25th = pd.DataFrame(hawaii_ratings.apply(lambda x: x.quantile(0.25), axis=0), columns=["25th_percentile"]).reset_index()
hawaii_50th = pd.DataFrame(hawaii_ratings.apply(lambda x: x.quantile(0.5), axis=0), columns=["50th_percentile"]).reset_index()
hawaii_75th = pd.DataFrame(hawaii_ratings.apply(lambda x: x.quantile(0.75), axis=0), columns=["75th_percentile"]).reset_index()

In [ ]:
hawaii_percentiles = hawaii_25th.merge(hawaii_50th, on="index").merge(hawaii_75th, on="index")

In [ ]:
hawaii_percentiles.aggregate(np.mean)

/home/sdona/miniconda3/lib/python3.8/site-packages/pandas/core/apply.py:169: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return getattr(obj, f)()

25th_percentile    4.737143
50th_percentile    4.894286
75th_percentile    4.990000
dtype: float64